* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}
nav {
  width: 100%;
  background-color: #95b44d;
  justify-content: space-between;
  display: flex;
  position: sticky;
  top: 0;
  height: 80px;
  z-index: 10;
  align-items: center;
}
.nav-logo img {
  width: 180px;
  padding-left: 100px;
}
.nav-link {
  list-style-type: none;
  display: flex;
  gap: 50px;
  padding-right: 5%;
}
.nav-link li a {
  text-decoration: none;
  font-weight: 600;
  position: relative;
  font-size: 16px;
  color: #212121;
  transition: 0.3s;
}
.nav-link li a:hover {
  background-color: #fbc02d;
  color: #212121;
  padding: 10px;
  transition: 0.4s;
  border-radius: 10px;
}
.active {
  background-color: #fbc02d;
  padding: 10px;
  border-radius: 10px;
  color: #212121;
}

.body {
  background-color: #f9f7f3;
}

.idea-main-title{
    background: url('../media/image/banner\ idea.jpg') no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
    background-size: cover;
    height: 300px;
    position: relative;
}
.idea-main-title::after{
    content: '';
    width: 100%;
    height: 100%;
    position: absolute;
    background-color: black;
    opacity: 0.5
}
.idea-main-title h2{
    font-size: 60px;
    z-index: 2;
    font-weight: 700;
    color: white;
}
.contact-container p {
  text-transform: Uppercase;
}

.better-idea-forpark {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 100px;
}
.better-idea-forpark h2,
p {
  color: #212121;
  text-align: left;
}
.better-idea-forpark h2 {
  font-size: 40px;
  font-weight: 600;
  padding-bottom: 5%;
  color: #212121;
}
.better-idea-forpark p {
  font-size: 20px;
  color: #212121;
  padding-bottom: 8%;
}
.idea-content {
  display: flex;
  gap: 100px;
  width: 1000px;
  align-items: center;
  margin-bottom: 100px;
}
.idea-content-two {
  display: flex;
  gap: 100px;
  width: 1000px;
  align-items: center;
  margin-bottom: 100px;
}
.idea-img img {
  width: 500px;
  height: 350px;
  border-radius: 20px;
}
.highlight-text {
  color: #fbc02d;
  width: max-content;
}
.btn-suggestion{
    text-decoration: none;
    background-color: transparent;
    border: 2px solid #95b44d;
    padding: 10px;
    border-radius: 5px;
    display: inline-block;
    color: #212121;
    font-size: 20px;
    transition: 0.3s;
}
.btn-suggestion:hover{
    background-color: #4CAF50;
    transform: scale(1.1);
    transition: 0.4s;
}
.btn-suggestion:active{
    background-color: #479c4a;
    transform: scale(1.06);
    transition: 0.4s;
}

footer{
    background-color: #95b44d;
    padding: 50px;
    color: #212121;
}
.footer-container{
    display: flex;
    justify-content: center;
    width: 80%;
    height: 250px;
    margin: 0 auto;
    justify-content: space-between;
}
.footer-items{
    display: flex;
    flex-direction: column;
}
.footer-items h2{
    padding-bottom: 20px;
    font-size: xx-large;
    color: #212121;
    font-weight: 500;
}
.footer-items p{
    padding-top: 10px;
    color: #212121;
    text-align: left;
    transition: 0.1s;
    padding-bottom: 20px;
}
.footer-items p:hover{
    transform: scale(1.01);
    transition: 0.1s;
}
.footer-items i{
    font-size: -large;
}
.footer-items a{
    padding-top: 10px;
    color: #212121;
   font-weight: 500;
    text-decoration: none;
    margin-bottom: 5px;
}
.footer-items a:hover{
    color: #FBC02D;
    transition: 0.3s ease-in-out;
}
.footer-items a i{
    color: inherit;
}
.footer-items i{
    font-size: large;
    padding-left: 5px;
}
.footer-items .fa-youtube{
    color: red;
}
.footer-items .fa-telegram{
    color: #24A1de;
}
.footer-items .fa-viber{
    color: #200e94;
}
.footer-items .fa-tikok{
    color: white;
}
.footer-bottom{
    display: flex;
    justify-content: center;
    color: #212121;
     padding-top: 2%;
}
.footer-bottom span{
    color: #212121;
}
