* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

nav {
  width: 100%;
  background-color: #A7C957;
  justify-content: space-between;
  display: flex;
  position: sticky;
  top: 0;
  height: 80px;
  z-index: 10;
  align-items: center;
}
.nav-logo img {
  width: 180px;
  padding-left: 100px;
}
.nav-link {
  list-style-type: none;
  display: flex;
  gap: 50px;
  padding-right: 5%;
}
.nav-link li a {
  text-decoration: none;
  font-weight: 500;
  position: relative;
  font-size: 16px;
  color: #212121;
  transition: 0.3s;
}
.nav-link li a:hover {
  background-color: #ffb700;
  color: #212121;
  padding: 10px;
  transition: 0.4s;
  border-radius: 10px;
}
.active {
  background-color: #fbc02d;
  padding: 10px;
  border-radius: 10px;
  color: #212121;
}

.main-container-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100vh;
  padding: 20px 0;
}

.page-title {
  text-align: center;
  font-size: 36px;
  margin-bottom: 30px;
  color: #333;
  font-weight: bold;
}

.container {
  background-color: gf;
  display: flex;
  width: 900px;
  border-radius: 15px;
  box-shadow: 0 4px 10px black;
  overflow: hidden;
}

.info {
  flex: 1;
  padding: 40px;
}

.info h1 {
  font-size: 32px;
  margin-bottom: 15px;
}

.info p {
  color: #555;
  margin-bottom: 30px;
}

.contact-info {
  margin-top: 20px;
}
.contact-info i {
  padding-right: 20px;
}

.contact-info div {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
  color: #333;
}

.contact-info div svg {
  margin-right: 10px;
  fill: #007bff;
}

.form-container {
  flex: 1;
  background-color: #f9fafc;
  box-shadow: 0 0 5px black;
  border-radius: 10px;
  padding: 40px;
  margin: 50px;
}

form {
  display: flex;
  flex-direction: column;
}

input,select,textarea {
  padding: 12px;
  margin-bottom: 20px;
  border-radius: 8px;
  border: 1px solid #ccc;
  font-size: 14px;
  width: 100%;
}
button {
  background-color: #4caf50;
  color: #fff;
  border: none;
  padding: 12px;
  border-radius: 8px;
  cursor: pointer;
  font-size: 16px;
  transition: background 0.3s;
}

button:hover {
  background-color: #4caf50;
}

footer {
  background-color: #95b44d;
  padding: 50px;
}
.footer-container {
  display: flex;
  justify-content: center;
  width: 80%;
  height: 250px;
  margin: 0 auto;
  justify-content: space-between;
}
.footer-items {
  display: flex;
  flex-direction: column;
}
.footer-items h2 {
  padding-bottom: 20px;
  font-size: xx-large;
  color: #212121;
}
.footer-items p {
  padding-top: 10px;
  color: #212121;
  text-align: left;
}
.footer-items p:hover {
  transform: scale(1.05);
  transition: 0.3 ease-in;
}
.footer-items i {
  font-size: -large;
}
.footer-items a {
  padding-top: 10px;
  color: #212121;
  font-weight: 500;
  text-decoration: none;
  margin-bottom: 5px;
}
.footer-items a:hover {
  color: #fbc02d;
  transition: 0.3s ease-in-out;
}
.footer-items i {
  font-size: large;
  padding-left: 5px;
}
.footer-items i:hover {
  color: #fbc02d;
  transition: 0.3s ease-in-out;
}
.footer-items .fa-youtube {
  color: red;
}
.footer-items .fa-telegram {
  color: #24a1de;
}
.footer-items .fa-viber {
  color: #200e94;
}
.footer-items .fa-tikok {
  color: white;
}
.footer-bottom {
  display: flex;
  justify-content: center;
  color: #212121;
}
