*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: #F9F7F3;
}
.main-card-container{
    padding-top: 100px;
    padding-bottom: 100px;
}
.container h1, p{
    color: #212121;
    text-align: center;
}
.container h1{
    font-size: 50px;
}
.container p{
    font-size: 23px;
}
.img-box img{
    display: block;
    width: 100%;
    height: 450px;
    object-fit: cover;
}
.grid{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    justify-content: center;
    grid-gap: 150px;
    text-align: center;
    width: 100%;
    margin: auto;
    background-color: white;
    border: none;
}
.cards{
    display: block;
    overflow: hidden;
    border-radius: 20px;
    box-shadow: 0 5px 10px black;
    cursor: pointer;
    transition: 0.2s;
    position: relative;
}
.card-rowtwo{
    display: block;
    overflow: hidden;
    border-radius: 20px;
    box-shadow: 0 0 5px black;
    cursor: pointer;
    transition: 0.2s;
    position: relative;
}
.card-content{
    position: absolute;
    background-color: rgb(0 0 0/50%);
    bottom: 0;
    width: 100%;
    height: 30%;
    padding: 22px;
    overflow: hidden;
    transition: 1s;
}
.card-content h1{
    font-size: 40px;
    font-weight: 600;
    padding-bottom: 10%;
    color: #F9F7F3;
}
.card-btn{
    text-decoration: none;
    background-color: transparent;
    border: 3px solid #4CAF50;
    color: #F9F7F3;
    font-size: 20px;
    padding: 15px 20px 15px 20px;
    border-radius: 10px;
    transform: scale(1);
}
.card-btn:hover{
    background-color: #4CAF50;
    transition: 0.3s;
}

.card-content:hover{
    height: 50%;
    transition: 0.6s;
}
@media (max-width: 1024px){
    .grid{
        grid-template-columns: repeat(2,1fr);
    }
}
@media (max-width: 767px){
    .grid{
        grid-template-columns: repeat(1,1fr);
    }
}