*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}
nav{
    width: 100%;
    background-color: #95b44d;
    justify-content: space-between;
    display: flex;
    position: sticky;
    top: 0;
    height: 80px;
    z-index: 10;
    align-items: center;
}
.nav-logo img{
    width:180px;
    padding-left: 100px;
}
.nav-link{
    list-style-type: none;
    display: flex;
    gap: 50px;
    padding-right: 5%;
    padding-top: 1%;
}
.nav-link li a{
    text-decoration: none;
    font-weight: 600;
    position: relative;
    font-size: 16px;
    color: #212121;
    transition: 0.3s;
}
.nav-link li a:hover{
    background-color: #FBC02D;
    color: #212121;
    padding: 10px;
    transition: 0.4s;
    border-radius: 10px;
}
.active{
    background-color: #FBC02D;
    padding: 10px;
    border-radius: 10px;
    color: #212121;
}
@media (max-width: 768px) {

    nav {
        flex-direction: column;
        height: auto;
        padding: 15px 0;
    }

    .nav-logo img {
        padding-left: 0;
        width: 140px;
        margin-bottom: 10px;
    }

    .nav-link {
        flex-direction: column;
        gap: 15px;
        padding-right: 0;
        padding-top: 0;
        align-items: center;
    }
}


.banner{
    height: 500px;
    background: url('../media/image/obsbanner1.jpg') no-repeat;
    background-size: cover;
    display: flex;
    background-position: center;
    user-select: none;
    position: relative;
    background-color: white;
}
.banner::before{
    content: '';
    background: url('../media/image/obsbanner1.jpg') no-repeat;
    background-size: cover;
    position: absolute;
    inset: 0;
    opacity: 0.8;
}
.banner-inside{
    height: 100%;
    width: 100%;
    background: linear-gradient(to top, rgb(253, 255, 238, 0.2), rgb(0,0,0,0));
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.banner h1{
    /* color: transparent;
    -webkit-text-stroke-width: 3px;
    -webkit-text-stroke-color: #009b00; */
    font-size: 60px;
    font-weight: bolder;
    padding-bottom: 3%;
    position: relative;
    color: white;
    text-shadow: 1px 1px 5px black, 2px 2px 5px black, 3px 3px 5px black;
}
.banner p{
    /* color: transparent;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: #009b00; */
    font-size: 35px;
    padding-bottom: 3%;
    position: relative;
    color: white;
    text-shadow: 1px 1px 5px black, 2px 2px 5px black, 3px 3px 5px black;
}
.suggestion-button{
    padding: 10px;
    width: 300px;
    font-size: x-large;
    color: white;
    border-radius: 15px;
    font-weight: bolder;
    transition: 0.3s;
    background-color: #95b44d;
    border: none;
    z-index: 0.5;
    text-align: center;
    position: relative;
    border: 2px solid #212121;
    text-decoration: none;
}
.suggestion-button i:hover{
    transition: 0.4s;
    z-index: 0.5;
}
.suggestion-button:hover{
    transition: 0.3s;
    background-color: #FBC02D;
    z-index: 0.5;
    border: 2px solid #212121;
    transform: scale(1.1);
    /* border: none; */
}
.suggestion-button:active{
    background-color:  #c99616;
    transform: scale(1);
    transition: 0.3s;
    z-index: 0.5;
}
.home-content{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    justify-items: center;
}
.home-content h2{
    text-align: center;
}
.home-content-box h1, h2{
    text-align: center;
    color: #212121;
}
.home-content-box h1{
    font-weight: 700;
    padding: 10px;
}
.home-content-box h2{
    margin-bottom: 30px;
    color: #95b44d;
    font-weight: 600;
}
.home-content-box .highlight-header{
    background-color: #FBC02D;
    max-width: 800px;
    border-radius: 10px;
    margin: 0 auto;
    margin-top: 20px;
    margin-bottom: 20px;
}
.home-card h2,p{
    color: #212121;
}
.home-card h2{
    padding-top: 20px;
}
.home-card p{
    text-align: left;
    padding-left: 20px;
}
.home-card{
    border: 1px solid black;
    border-radius: 20px;
    width: 70%;
    transition: transform 0.25s ease, box-shadow 0.25s ease;
}
.home-card img{
    width: 30%;
    margin: 0 auto;
    padding-top: 20px;
    display: flex;
    justify-self: center;

}
.home-card:hover{
    transform: translateY(-15px);
    transition: 0.25s ease;
    box-shadow: 0px 2px 5px black;
}
footer{
    background-color: #95b44d;
    padding: 50px;
    color: #212121;
}
.footer-container{
    display: flex;
    justify-content: center;
    width: 80%;
    height: 250px;
    margin: 0 auto;
    justify-content: space-between;
}
.footer-items{
    display: flex;
    flex-direction: column;
}
.footer-items h2{
    padding-bottom: 20px;
    font-size: xx-large;
    color: #212121;
}
.footer-items p{
    padding-top: 10px;
    color: #212121;
    text-align: left;
    transition: 0.1s;
}
.footer-items p:hover{
    transform: scale(1.01);
    transition: 0.1s;
}
.footer-items i{
    font-size: -large;
}
.footer-items a{
    padding-top: 10px;
    color: #212121;
    font-weight: 500;
    text-decoration: none;
    margin-bottom: 5px;
}
.footer-items a:hover{
    color: #FBC02D;
    transition: 0.3s ease-in-out;
}
.footer-items a i{
    color: inherit;
}
.footer-items i{
    font-size: large;
    padding-left: 5px;
}
.footer-items .fa-youtube{
    color: red;
}
.footer-items .fa-telegram{
    color: #24A1de;
}
.footer-items .fa-viber{
    color: #200e94;
}
.footer-items .fa-tikok{
    color: white;
}
.footer-bottom{
    display: flex;
    justify-content: center;
    color: #212121;
    padding-top: 2%;
}
.footer-bottom span{
    color: #212121;
}