*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
nav{
    width: 100%;
    background-color: #A7C957;
    justify-content: space-between;
    display: flex;
    position: sticky;
    top: 0;
    height: 80px;
    z-index: 10;
    align-items: center;
}
.nav-logo img{
    width:180px;
    padding-left: 100px;
}
.nav-link{
    list-style-type: none;
    display: flex;
    gap: 50px;
    padding-right: 5%;
    padding-top: 1%;
}
.nav-link li a{
    text-decoration: none;
    font-weight: 500;
    position: relative;
    font-size: 16px;
    color: #212121;
    transition: 0.3s;
}
.nav-link li a:hover{
    background-color: #ffb700;
    color: #212121;
    padding: 10px;
    transition: 0.4s;
    border-radius: 10px;
}
.active{
    background-color: #FBC02D;
    padding: 10px;
    border-radius: 10px;
    color: #212121;
}
.about-cards{
    background-color: white;
}
.card{
    background-color: #F9F7F3;
}
.about-us-title{
    text-align: center;
}
.us-card-flex{
    display: flex;
    justify-content: center;
}
.us-card{
    margin: 50px 25px 50px 25px;
    width: 300px;
    height: 500px;
    border: 2px solid black;
    border-radius: 15px;
}
.img-part img{
    width: 100%;
    height: 400px;
    border-radius: 15px 15px 0px 0px;
}
.us-expl p{
    text-align: center;
}
.us-expl h3{
    text-align: center;
    color: #FBC02D;
}
